<!DOCTYPE html>
<html ng-app="contactApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css?ver=<%=cache['bootstrap.min.css']%>"/>
    <style>
        body{
            font-family: serif;
        }
    </style>
</head>
<body ng-controller="MainCtrl" ng-cloak>
<div class="container-fluid">
    <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                Contact Management System
            </a>
        </div>
        <div>
            <a type="button"  href="/logout" class="btn btn-link navbar-btn navbar-right" ng-click="logout()">LOGOUT</a>
            <p class="navbar-text navbar-right" ng-show="loggedUser">Welcome {{loggedUser.name}} </p>
        </div>
    </div>



    <div class="ui-view">
        <img src="images/Global%20MarketingIAV.jpg" height="550px;" width="100%"/>
    </div>
</div>

<script src="javascripts/common/jquery-1.7.2.min.js?ver=<%=cache['jquery-1.7.2.min.js']%>"></script>
<script src="components/angular/angular.min.js?ver=<%=cache['angular.min.js']%>"></script>
<script src="components/angular-ui-router/release/angular-ui-router.min.js?ver=<%=cache['angular-ui-router.min.js']%>"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js?ver=<%=cache['config.js']%>"></script>
<script src="javascripts/common/bootstrap.min.js?ver=<%=cache['bootstrap.min.js']%>"></script>
<script>
    var contactApp=angular.module('contactApp',['ui.router','ui.bootstrap']);
</script>
<script src="javascripts/scripts.js?ver=<%=cache['scripts.js']%>"></script>
</body>
</html>